### Old stuff ### --- IGNORE ---


/dataset/*.json
/dataset/original/*.json
/dataset/__pycache__
/index
Ideas.txt
token.txt



### Current Gitignore ###

/data
/tests
/artifacts/runs
/results
/artifacts/exploration_analysis
/artifacts/index_dense

/artifacts/index
/artifacts/index_dense_BAAI_bge-small-en-v1.5
/artifacts/index_dense_BAAI_bge-base-en-v1.5

/.vscode
/.ipynb_checkpoints
*/.DS_Store
*/__pycache__

/venv
*.pyc
